# KOSIS OPEN API

In [7]:
import os
import sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd()).parent))

In [8]:
from config import API_KEY_INFO
service_key = API_KEY_INFO.get("kosis")

## 인스턴스 생성

In [9]:
from PublicDataReader import Kosis
api = Kosis(service_key)

## KOSIS 통합검색

In [10]:
df1 = api.get_data(
    "KOSIS통합검색",
    searchNm="미분양 현황",
    )
df1.head(1)

,기관ID,기관명,통계표ID,통계표명,조사ID,조사명,KOSIS목록구분,KOSIS통계표위치,통계표위치,통계표주요내용,수록기간시작일,수록기간종료일,통계표주석,추천통계표여부,KOSIS목록URL,KOSIS통계표URL,검색결과건수,검색어명
0,116,국토교통부,DT_MLTM_2086,미분양현황_종합,1998033,미분양주택현황보고,MT_ZTITLE,주거 > 미분양주택현황보고,I1 > I1_2,대분류 구분 부문별미분양현황 시도별미분양현황 규모별미분양현황 계 민간부문 공공부문 ...,2001,2023,해당연도 12월말 기준 자료 : 국토교통부 주택토지실 주택정책관 주택정책과,N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=116...,291,미분양 현황

## 통계설명

In [12]:
df2 = api.get_data(
    "통계설명",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    metaItm = "ALL",
    )
df2.head(1)

,조사명,통계종류,계속여부,법적근거,조사목적,조사주기,조사체계,공표범위,공표주기,연락처,...,조사단위및조사대상규모,적용분류,조사항목,공표방법및URL,조사대상기간및조사기준시점,조사기간,자료수집방법,승인번호,승인일자,통계종료
0,미분양주택현황보고,일반통계 / 보고통계,계속통계,주택법,매월 전국 및 지역별 미분양 주택현황을 파악하여 주택공급정책의 기초자료로 활용,월,구·시·군→시·도→국토교통부,시군구,월,국토교통부택토지실 주택정책관 주택정책과 (☎ 044-201-4148),...,기타전국의 미분양 주택 현황,(주) 해당없음,∎ 작성항목(2개 부문 6개항목) - 전체 미분양 현황: 지역별(광역시/시군구) 세...,"전산망(인터넷), 간행물http://stat.molit.go.kr)국토교통통계연보(...",1월1일~12월31일(매월말),매월 1일~15일,행정집계,116025,19981013,일반통계

## 통계표 설명

### 통계표 명칭

In [13]:
df3_1 = api.get_data(
    "통계표설명",
    "통계표명칭",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_1.head(1)

       통계표명                   통계표영문명
0  미분양현황_종합  Unsold Housings (Total)

### 기관 명칭

In [14]:
df3_2 = api.get_data(
    "통계표설명",
    "기관명칭",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_2.head(1)

     기관명                                           기관영문명
0  국토교통부  Ministry of Land, Infrastructure and Transport

### 수록정보

In [15]:
df3_3 = api.get_data(
    "통계표설명",
    "수록정보",
    orgId = "101",
    tblId = "DT_1IN0001",
    # detail = "Y",
    )
df3_3.head(1)

  수록주기 수록기간시작일 수록기간종료일
0   5년    1925    2010

### 분류/항목

In [16]:
df3_4 = api.get_data(
    "통계표설명",
    "분류항목",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_4.head(1)

,기관ID,통계표ID,분류ID,분류명,분류영문명,분류값ID,분류값명,분류값영문명,분류값순번,단위ID,단위명
0,116,DT_MLTM_2086,ITEM,항목,Item code list,13103871014T1,미분양(12월기준),Unsold Housings,NaN,14999116.12월기준,12월기준

### 주석

In [17]:
df3_5 = api.get_data(
    "통계표설명",
    "주석",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_5.head(1)

  주석유형            주석
0  통계표  해당연도 12월말 기준

### 단위

In [18]:
df3_6 = api.get_data(
    "통계표설명",
    "단위",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_6.head(1)

  단위명           단위영문명
0   호  Apartment Unit

### 출처

In [19]:
df3_7 = api.get_data(
    "통계표설명",
    "출처",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_7.head(1)

           조사명                   통계표담당부서   통계표담당부서전화번호  STAT_ID
0  「미분양주택현황보고」  국토교통부  주택토지실 주택정책관 주택정책과  044-201-4148  1998033

### 가중치

In [20]:
df3_8 = api.get_data(
    "통계표설명",
    "가중치",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_8

데이터가 존재하지 않습니다.

### 자료갱신일

In [21]:
df3_9 = api.get_data(
    "통계표설명",
    "자료갱신일",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    )
df3_9.head(1)

     기관명      통계표명 수록주기  수록시점
0  국토교통부  미분양현황_종합    년  2001  2024-02-07

## 통계목록

In [22]:
df4 = api.get_data(
    "통계목록",
    vwCd = "MT_OTITLE",
    parentListId = "110_20103",
    )
df4.head(1)

,서비스뷰ID,서비스뷰명,기관ID,통계표ID,통계표명,추천통계표여부,SEND_DE,STAT_ID
0,MT_OTITLE,국내통계 기관별,101,DT_1B040B3,행정구역(시군구)별 주민등록세대수,Y,2024-04-03,2008001

## 통계자료

In [23]:
df5 = api.get_data(
    "통계자료",
    orgId = "116",
    tblId = "DT_MLTM_2086",
    itmId = "ALL",
    objL1 = "ALL",
    objL2 = "ALL",
    prdSe = "Y",
    startPrdeDe = "2021",
    endPrdDe = "2021",
    )
df5.head(1)

,기관ID,통계표ID,통계표명,분류명1,분류영문명1,분류값명1,분류값영문명1,분류값ID1,분류명2,분류영문명2,...,분류값ID2,항목ID,항목명,항목영문명,단위명,단위영문명,수록주기,수록시점,수치값,LST_CHN_DE
0,116,DT_MLTM_2086,미분양현황_종합,대분류,Classification,부문별미분양현황,unsold By sector,13102871014A.0001,구분,Classification,...,13102871014B.0001,13103871014T1,미분양(12월기준),Unsold Housings,12월기준,Apartment Unit,A,2021,17710,