In [1]:
import os
import sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd()).parent))

In [2]:
import PublicDataReader as pdr
from config import API_KEY_INFO
print(pdr.__version__)
service_key = API_KEY_INFO.get("portal")

1.0.11

In [3]:
from PublicDataReader import SmallShop
api = SmallShop(service_key)

- 지정상권

In [4]:
df = api.get_data(
    service_name = "지정상권",
    key = "9301",
)
df.tail()

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,면적,좌표개수,좌표값,데이터기준일자
0,9301,압구정 로데오거리_1,11,서울특별시,11680,강남구,193739,19,MULTIPOLYGON (((127.04700219001 37.52446081421...,2021-06-30

- 반경상권

In [5]:
df = api.get_data(
    service_name = "반경상권",
    cx = 127.042325940821,
    cy = 37.5272105674053,
    radius = 500,
)
df.tail()

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,면적,좌표개수,좌표값,데이터기준일자
0,9301,압구정 로데오거리_1,11,서울특별시,11680,강남구,193739,19,MULTIPOLYGON (((127.04700219001 37.52446081421...,2021-06-30
1,9302,압구정 로데오거리_2,11,서울특별시,11680,강남구,263496,33,MULTIPOLYGON (((127.033855921453 37.5220414800...,2021-06-30
2,9316,청담사거리_1,11,서울특별시,11680,강남구,20169,21,MULTIPOLYGON (((127.045624467128 37.5237563085...,2021-06-30

- 사각형상권

In [6]:
df = api.get_data(
    service_name = "사각형상권",
    minx = 127.0327683531071,
    miny = 37.495967935149146,
    maxx = 127.04268179746694,
    maxy = 37.502402894207286
)
df.tail()

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,면적,좌표개수,좌표값,데이터기준일자
0,9368,강남역_5,11,서울특별시,11680,강남구,146972,53,MULTIPOLYGON (((127.032936062846 37.5068531522...,2021-06-30
1,9307,역삼역_1,11,서울특별시,11680,강남구,292547,10,MULTIPOLYGON (((127.036815211166 37.5005428006...,2021-06-30
2,9308,역삼역_2,11,서울특별시,11680,강남구,51935,32,MULTIPOLYGON (((127.042493260333 37.5022663760...,2021-06-30

- 행정구역상권

In [7]:
df = api.get_data(
    service_name = "행정구역상권",
    divId = 'adongCd',
    key = '1168058000'
)
df.tail()

,상권번호,상권명,시도코드,시도명,시군구코드,시군구명,면적,좌표개수,좌표값,데이터기준일자
0,9290,삼성역_3,11,서울특별시,11680,강남구,74618,13,MULTIPOLYGON (((127.065749573729 37.5141311587...,2021-06-30
1,9321,코엑스,11,서울특별시,11680,강남구,194170,17,MULTIPOLYGON (((127.056547524233 37.5134060071...,2021-06-30
2,9323,포스코사거리_2,11,서울특별시,11680,강남구,79514,34,MULTIPOLYGON (((127.053620405866 37.5128036692...,2021-06-30

- 단일상가

In [8]:
df = api.get_data(
    service_name = "단일상가",
    divId = 'adongCd',
    key = '11757465'
)
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,11757465,스타벅스,방배점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1165010100108120002009897,None,"서울특별시 서초구 방배로 211, (방배동)",137832,06562,None,1,None,126.99050928001,37.4919441682448

- 건물상가

In [9]:
df = api.get_data(
    service_name = "건물상가",
    key = '1168011000104940000004966'
)
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
78,27678851,LEBOIS갤러리아,압구정점,D,소매,D03,종합소매점,D03B01,백화점,G47111,...,1168011000104940000004966,갤러리아백화점,"서울특별시 강남구 압구정로 343, (압구정동)",135902,06008,하,1,None,127.04008070443,37.5284986430328
79,28064032,갤러리아TM,None,D,소매,D03,종합소매점,D03B01,백화점,G47111,...,1168011000104940000004966,갤러리아백화점,"서울특별시 강남구 압구정로 343, (압구정동)",135902,06008,None,4,None,127.04008070443,37.5284986430328
80,28218560,갤러리아테이스팅룸,None,D,소매,D03,종합소매점,D03B01,백화점,G47111,...,1168011000104940000004966,갤러리아백화점,"서울특별시 강남구 압구정로 343, (압구정동)",135902,06008,None,5,None,127.04008070443,37.5284986430328
81,28404661,비컨중식당청갤러리아,압구정점,Q,음식,Q02,중식,Q02A00,중국음식/중국집,I56112,...,1168011000104940000004966,갤러리아백화점,"서울특별시 강남구 압구정로 343, (압구정동)",135902,06008,하,1,None,127.04008070443,37.5284986430328
82,28508108,아모레퍼시픽백화점갤러리아압구정,None,D,소매,D16,화장품소매,D16A01,화장품판매점,G47813,...,1168011000104940000004966,갤러리아백화점,"서울특별시 강남구 압구정로 343, (압구정동)",135902,06008,None,1,None,127.04008070443,37.5284986430328

- 지번상가

In [10]:
df = api.get_data(
    service_name = "지번상가",
    key = '1165010100108120002'
)
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,11757465,스타벅스,방배점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1165010100108120002009897,None,"서울특별시 서초구 방배로 211, (방배동)",137832,06562,None,1,None,126.99050928001,37.4919441682448
1,17875647,키무브필라테스스튜디오,None,N,관광/여가/오락,N05,요가/단전/마사지,N05A01,요가/단식,S96129,...,1165010100108120002009897,None,"서울특별시 서초구 방배로 211, (방배동)",137832,06562,None,5,None,126.990621865291,37.4919811723816

- 행정동상가

In [11]:
df = api.get_data(
    service_name = "행정동상가",
    divId = 'adongCd',
    key = '1168064000',
    indsLclsCd = 'Q'
)
df.tail()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
995,17074537,달리는커피,강남점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100107040042022310,None,"서울특별시 강남구 언주로98길 39-8, (역삼동)",135513,06148,None,None,None,127.045222312975,37.5050138134194
996,17075543,만옥당,None,Q,음식,Q06,양식,Q06A01,정통양식/경양식,I56114,...,1168010100108110014022980,None,"서울특별시 강남구 강남대로106길 15, (역삼동)",135931,06123,None,None,None,127.026765867388,37.5031151454181
997,17077430,홍리마라탕,None,Q,음식,Q02,중식,Q02A00,중국음식/중국집,I56112,...,1168010100108210001000001,이즈타워,"서울특별시 강남구 테헤란로 101, (역삼동)",135933,06134,None,None,None,127.028022534124,37.4986562606686
998,17078361,어야가자,None,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100106620001021722,None,"서울특별시 강남구 테헤란로39길 66, (역삼동)",135913,06138,None,None,None,127.03976159952,37.5066094688923
999,17078682,투썸플레이스,강남역KR타워점,Q,음식,Q12,커피점/카페,Q12A01,커피전문점/카페/다방,I56220,...,1168010100108250026024506,None,"서울특별시 강남구 강남대로84길 13, (역삼동)",135934,06232,None,None,None,127.029572455617,37.4968668925481

- 상권상가

In [12]:
df = api.get_data(
    service_name = "상권상가",
    key = '9368',
    indsLclsCd = 'Q'
)
df.tail()

- 반경상가

In [ ]:
df = api.get_data(
    service_name = "반경상가",
    radius = '500',
    cx = 127.03641615737838,
    cy = 37.50059843782878,
    indsLclsCd = 'Q'
)
df.tail()

- 사각형상가

In [ ]:
df = api.get_data(
    service_name = "사각형상가",
    minx = 127.0327683531071,
    miny = 37.495967935149146,
    maxx = 127.04268179746694,
    maxy = 37.502402894207286,
    indsLclsCd = 'Q'
)
df.tail()

- 다각형상가

In [ ]:
df = api.get_data(
    service_name = "다각형상가",
    key = 'POLYGON((127.02355609555755 37.504264372557095, 127.02496157306963 37.50590702991155, 127.0270858825753 37.50486867039889, 127.02628121988377 37.503489842823114))',
    indsLclsCd = 'Q'
)
df.tail()

- 업종별상가

In [ ]:
df = api.get_data(
    service_name = "업종별상가",
    divId = 'indsLclsCd',
    key = 'Q'
)
df.tail()

- 수정일자상가

In [ ]:
df = api.get_data(
    service_name = "수정일자상가",
    key = '20200101',
    indsLclsCd = 'Q'
)
df.tail()

- 업종대분류

In [ ]:
df = api.get_data(
    service_name = "업종대분류",
)
df.tail()

- 업종중분류

In [ ]:
df = api.get_data(
    service_name = "업종중분류",
    indsLclsCd = 'Q'
)
df.tail()

- 업종소분류

In [ ]:
df = api.get_data(
    service_name = "업종소분류",
    indsLclsCd = 'Q',
    indsMclsCd = 'Q01'
)
df.tail()