In [1]:
import os
import sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd()).parent))

# KB부동산 API 인스턴스 생성

In [2]:
from PublicDataReader import Kbland
api = Kbland()

# 주택가격동향조사

## 주요 파라미터 정리

- 월간주간구분코드
    - 01: 월간
    - 02: 주간
- 매물종별구분
    - 01: 아파트
    - 08: 연립
    - 09: 단독
    - 98: 주택종합
- 매매전세코드
    - 01: 매매
    - 02: 전세
- 면적별코드
    - 01: 전용면적별(구)
    - 02: 전용면적별
- (PIR) 메뉴코드
    - 01: PIR
    - 02: J-PIR

## 가격지수

- 주간 아파트 매매가격지수
- 주간 아파트 전세가격지수
- 월간 아파트 매매가격지수
- 월간 아파트 전세가격지수
- 단독 매매가격지수
- 단독 전세가격지수
- 연립 매매가격지수
- 연립 전세가격지수
- 주택종합 매매가격지수
- 주택종합 전세가격지수

In [3]:
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "01",
    "매매전세코드": "01",
    # "지역코드": "11",
    "기간": 1,
}
df = api.get_price_index(**params)
df.tail()

    월간주간구분 매물종별구분 거래구분        지역코드 지역명         날짜        가격지수
307     월간    아파트   매매  5000000000  제주 2022-08-01  105.170226
308     월간    아파트   매매  5000000000  제주 2022-09-01  105.253394
309     월간    아파트   매매  5000000000  제주 2022-10-01  105.159935
310     월간    아파트   매매  5000000000  제주 2022-11-01  105.138961
311     월간    아파트   매매  5000000000  제주 2022-12-01  104.559209

- 월간 아파트 월세가격지수

In [4]:
params = {
    "기간": 1
}
df = api.get_monthly_apartment_wolse_index(**params)
df.tail()

   월간주간구분 매물종별구분 거래구분        지역코드  지역명         날짜        가격지수
73     월간    아파트   월세  4100000000  경기도 2022-08-01  105.904649
74     월간    아파트   월세  4100000000  경기도 2022-09-01  106.492218
75     월간    아파트   월세  4100000000  경기도 2022-10-01  107.347923
76     월간    아파트   월세  4100000000  경기도 2022-11-01  107.957964
77     월간    아파트   월세  4100000000  경기도 2022-12-01  107.956571

- KB선도아파트 50 지수

In [5]:
params = {
    "기간": 1
}
df = api.get_lead_apartment_50_index(**params)
df.tail()

           날짜      선도50지수   전월대비증감률  전년동월대비증감률
8  2022-08-01  100.451199 -0.718366   6.258222
9  2022-09-01   99.322158 -1.123969   3.105370
10 2022-10-01   97.584598 -1.749418  -0.118113
11 2022-11-01   94.517070 -3.143456  -4.390270
12 2022-12-01   92.074998 -2.583736  -7.554604

## 가격지수증감률

- 주간 아파트 매매가격지수 증감률
- 주간 아파트 전세가격지수 증감률
- 월간 아파트 매매가격지수 증감률
- 월간 아파트 전세가격지수 증감률
- 단독 매매가격지수 증감률
- 단독 전세가격지수 증감률
- 연립 매매가격지수 증감률
- 연립 전세가격지수 증감률
- 주택종합 매매가격지수 증감률
- 주택종합 전세가격지수 증감률

In [6]:
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "01",
    "매매전세코드": "01",
    # "지역코드": "11",
    "기간": 1,
}
df = api.get_price_index_change_rate(**params)
df.tail()

    월간주간구분 매물종별구분 거래구분        지역코드 지역명         날짜   가격지수증감률
307     월간    아파트   매매  5000000000  제주 2022-08-01  0.062061
308     월간    아파트   매매  5000000000  제주 2022-09-01  0.079079
309     월간    아파트   매매  5000000000  제주 2022-10-01 -0.088794
310     월간    아파트   매매  5000000000  제주 2022-11-01 -0.019944
311     월간    아파트   매매  5000000000  제주 2022-12-01 -0.551415

## 전세가격비율

- 아파트 매매가격대비 전세가격비율
- 단독 매매가격대비 전세가격비율
- 연립 매매가격대비 전세가격비율
- 주택종합 매매가격대비 전세가격비율

In [7]:
params = {
    "매물종별구분": "98",
    "기간": 1,
    # "지역코드": "11",
}

df = api.get_jeonse_price_ratio(**params)
df.tail()

    매물종별구분        지역코드      지역명         날짜     전세가격비율
307   주택종합  5000000000  제주특별자치도 2022-08-01  57.317359
308   주택종합  5000000000  제주특별자치도 2022-09-01  58.499050
309   주택종합  5000000000  제주특별자치도 2022-10-01  60.535311
310   주택종합  5000000000  제주특별자치도 2022-11-01  58.380322
311   주택종합  5000000000  제주특별자치도 2022-12-01  58.378539

- 전월세 전환율

In [8]:
params = {
    "기간": 1,
}
df = api.get_jeonwolse_conversion_rate(**params)
df.tail()

          지역코드  지역명         날짜    전세가격비율
73  4100000000  경기도 2022-08-01  4.028560
74  4100000000  경기도 2022-09-01  4.051587
75  4100000000  경기도 2022-10-01  4.119020
76  4100000000  경기도 2022-11-01  4.366276
77  4100000000  경기도 2022-12-01  4.556344

## 시장동향/설문조사

- 주간 매수우위지수
- 주간 매매거래활발지수
- 주간 전세수급지수
- 주간 전세거래활발지수
- 월간 매수우위지수
- 월간 매매거래활발지수
- 월간 전세수급지수
- 월간 전세거래활발지수
- 월간 매매가격전망지수
- 월간 전세가격전망지수

In [9]:
params = {
    "메뉴코드": "01",
    "월간주간구분코드": "01",
    "기간": 1,
}
df = api.get_market_trend(**params)
df.tail()

,메뉴코드,월간주간구분,지역코드,지역명,날짜,매수자많음,비슷함,매도자많음,매수우위지수
307,매수우위지수,월간,5000000000,제주특별자치도,2022-08-01,4.347826,39.130435,56.521739,47.826087
308,매수우위지수,월간,5000000000,제주특별자치도,2022-09-01,0.000000,32.193142,67.806858,32.193142
309,매수우위지수,월간,5000000000,제주특별자치도,2022-10-01,0.000000,35.496914,64.503086,35.496914
310,매수우위지수,월간,5000000000,제주특별자치도,2022-11-01,0.000000,39.967654,60.032346,39.967654
311,매수우위지수,월간,5000000000,제주특별자치도,2022-12-01,0.000000,30.013714,69.986286,30.013714

## 면적별 가격지수

- 주간 아파트 전용면적별 매매가격지수
- 주간 아파트 전용면적별 전세가격지수
- 월간 아파트 전용면적별 매매가격지수
- 월간 아파트 전용면적별 전세가격지수
- 월간 아파트 전용면적별(구) 매매가격지수
- 월간 아파트 전용면적별(구) 전세가격지수
- 단독 전용면적별 매매가격지수
- 단독 전용면적별 전세가격지수
- 연립 전용면적별 매매가격지수
- 연립 전용면적별 전세가격지수
- 주택종합 전용면적별 매매가격지수
- 주택종합 전용면적별 전세가격지수

In [10]:
params = {
    "월간주간구분코드": "01",
    "매물종별구분": "98",
    "면적별코드": "02",
    "매매전세코드": "02",
    "기간": 1,
}

df = api.get_price_index_by_area(**params)
df.tail()

,월간주간구분,매물종별구분,면적별코드,매매전세코드,지역코드,지역명,날짜,대형,중형,소형
294,월간,주택종합,전용면적별,전세,4A0000,기타지방,2022-08-01,101.174377,101.727268,102.974528
295,월간,주택종합,전용면적별,전세,4A0000,기타지방,2022-09-01,101.119346,101.663716,103.074701
296,월간,주택종합,전용면적별,전세,4A0000,기타지방,2022-10-01,100.969166,101.484971,103.072944
297,월간,주택종합,전용면적별,전세,4A0000,기타지방,2022-11-01,100.743825,101.092271,102.477187
298,월간,주택종합,전용면적별,전세,4A0000,기타지방,2022-12-01,100.461516,100.749903,101.713803

## 평균가격

- 아파트 매매평균가격
- 아파트 전세평균가격
- 단독 매매평균가격
- 단독 전세평균가격
- 연립 매매평균가격
- 연립 전세평균가격
- 주택종합 매매평균가격
- 주택종합 전세평균가격

In [11]:
params = {
    "매물종별구분": "98",
    "매매전세코드": "02",
    "기간": 1,
}

df = api.get_average_price(**params)
df.tail()

    매물종별구분 매매전세코드        지역코드      지역명         날짜          평균가격
307   주택종합     전세  4500000000       전북 2022-12-01  14278.121229
308   주택종합     전세  4600000000       전남 2022-12-01  12319.907262
309   주택종합     전세  4700000000       경북 2022-12-01  14227.938099
310   주택종합     전세  4800000000       경남 2022-12-01  17297.151272
311   주택종합     전세  5000000000  제주특별자치도 2022-12-01  19614.095751

## ㎡당 평균가격

- 아파트 ㎡당 매매평균가격
- 아파트 ㎡당 전세평균가격
- 단독 ㎡당 매매평균가격
- 단독 ㎡당 전세평균가격
- 연립 ㎡당 매매평균가격
- 연립 ㎡당 전세평균가격
- 주택종합 ㎡당 매매평균가격
- 주택종합 ㎡당 전세평균가격

In [12]:
params = {
    "매물종별구분": "98",
    "매매전세코드": "02",
    "기간": 1,
}

df = api.get_average_price_per_squaremeter(**params)
df.tail()

    매물종별구분 매매전세코드        지역코드 지역명         날짜     ㎡당 평균가격
307   주택종합     전세  4500000000  전북 2022-12-01  166.325558
308   주택종합     전세  4600000000  전남 2022-12-01  152.765673
309   주택종합     전세  4700000000  경북 2022-12-01  169.046494
310   주택종합     전세  4800000000  경남 2022-12-01  208.752911
311   주택종합     전세  5000000000  제주 2022-12-01  189.594216

## 5분위 평균가격

- 아파트 5분위 매매평균가격
- 아파트 5분위 전세평균가격
- 주택종합 5분위 매매평균가격
- 주택종합 5분위 전세평균가격
- 아파트 ㎡당 5분위 매매평균가격
- 아파트 ㎡당 5분위 전세평균가격

In [13]:
params = {
    "메뉴코드": "03",
    "매매전세코드": "02",
    "기간": 1,
}

df = api.get_average_price_by_quintile(**params)
df.tail()

,구분,매매전세코드,지역코드,지역명,날짜,5분위,4분위,3분위,2분위,1분위,5분위배율
164,아파트 아파트 ㎡당 평균가격,전세,2800000000,인천광역시,2022-12-01,491.403509,386.471590,344.264384,303.610043,215.612663,2.279103
165,아파트 아파트 ㎡당 평균가격,전세,2900000000,광주광역시,2022-12-01,402.463105,310.735175,253.624288,206.210244,150.805656,2.668753
166,아파트 아파트 ㎡당 평균가격,전세,3000000000,대전광역시,2022-12-01,443.503048,360.930948,315.748221,267.492853,179.190220,2.475040
167,아파트 아파트 ㎡당 평균가격,전세,3100000000,울산광역시,2022-12-01,449.334068,353.766742,292.955087,212.044246,141.421487,3.177269
168,아파트 아파트 ㎡당 평균가격,전세,4100000000,경기도,2022-12-01,674.547431,496.251276,421.876596,354.425615,253.803434,2.657755

## 면적별 평균가격

- 아파트 전용면적별 매매평균가격
- 아파트 전용면적별 전세평균가격
- 아파트 전용면적별(구) 매매평균가격
- 아파트 전용면적별(구) 전세평균가격

In [14]:
params = {
    "매매전세코드": "01",
    "면적별코드": "01",
    "기간": 1,
}

df = api.get_average_price_by_area(**params)
df.tail()

,매매전세코드,면적별코드,지역코드,지역명,날짜,대형,중대형,중형,중소형,소형
307,매매,전용면적별(구),5000000000,제주특별자치도,2022-08-01,NaN,NaN,NaN,NaN,NaN
308,매매,전용면적별(구),5000000000,제주특별자치도,2022-09-01,NaN,NaN,NaN,NaN,NaN
309,매매,전용면적별(구),5000000000,제주특별자치도,2022-10-01,NaN,NaN,NaN,NaN,NaN
310,매매,전용면적별(구),5000000000,제주특별자치도,2022-11-01,92332.644648,82108.058292,53114.571203,33068.779514,32441.575685
311,매매,전용면적별(구),5000000000,제주특별자치도,2022-12-01,91952.479358,81926.410356,52536.604788,32807.007917,31969.414118

## 중위가격

- 아파트 매매중위가격
- 아파트 전세중위가격
- 단독 매매중위가격
- 단독 전세중위가격
- 연립 매매중위가격
- 연립 전세중위가격
- 주택종합 매매중위가격
- 주택종합 전세중위가격

In [15]:
params = {
    "매물종별구분": "01",
    "매매전세코드": "02",
    "기간": 1,
}

df = api.get_median_price(**params)
df.tail()

    매물종별구분 매매전세코드        지역코드   지역명         날짜     중위가격
281    아파트     전세  4400000000  충청남도 2022-12-01  17250.0
282    아파트     전세  4500000000  전라북도 2022-12-01  13750.0
283    아파트     전세  4600000000  전라남도 2022-12-01  13000.0
284    아파트     전세  4700000000  경상북도 2022-12-01  14500.0
285    아파트     전세  4800000000  경상남도 2022-12-01  17500.0

## 소득연계

- PIR
- J-PIR

In [16]:
params = {
    "메뉴코드": "02",
}

df = api.get_pir(**params)
df.tail()

         구분        지역코드    지역명  주택분위  소득분위      날짜        PIR
8295  J-PIR  1100000000  서울특별시     3     1  202209  25.850212
8296  J-PIR  0000000000     전국     2     1  202209   8.545496
8297  J-PIR  1100000000  서울특별시     2     1  202209  20.340611
8298  J-PIR  0000000000     전국     1     1  202209   4.295563
8299  J-PIR  1100000000  서울특별시     1     1  202209  11.646335

- 주택구매력지수

In [17]:
params = {}

df = api.get_hai(**params)
df.tail()

        지역코드   지역명         날짜          종합         아파트          단독          연립
1323  4A0000  기타지방 2022-05-01  224.305503  209.899887  242.425435  472.918121
1324  4A0000  기타지방 2022-06-01  221.198848  206.861945  239.488800  467.126847
1325  4A0000  기타지방 2022-07-01  217.481631  203.061371  235.803848  459.470863
1326  4A0000  기타지방 2022-08-01  213.914760  199.443407  231.976797  452.013740
1327  4A0000  기타지방 2022-09-01  205.390114  192.133267  221.238582  425.540526

- (비노출) 중위가구월소득금액

In [18]:
df = api.get_median_household_monthly_income()
df.tail()

     주택담보대출금리  중위가구월소득금액         날짜
161      3.90    5267166 2022-05-01
162      4.04    5267166 2022-06-01
163      4.16    5240314 2022-07-01
164      4.35    5240314 2022-08-01
165      4.79    5240314 2022-09-01

- KB주택구입잠재력지수

In [19]:
df = api.get_kb_housing_purchase_potential_index()
df.tail()

,지역코드,지역명,날짜,잠재력지수,가구별월소득금액,연간지출가능주거비용,구입가능주택가격,구입가능아파트재고량,총아파트재고량,주택담보대출금리
154,4100000000,경기도,2022-06-01,26.046051,531.096145,2103.140734,41013.335036,68.6035,263.3931,3.95
155,2800000000,인천광역시,2022-06-01,38.398347,486.684354,1927.270040,37583.681683,21.9877,57.2621,3.95
156,1100000000,서울특별시,2022-09-01,2.454326,571.271954,2262.236936,42294.773917,3.4422,140.2503,4.43
157,4100000000,경기도,2022-09-01,24.190945,528.388618,2092.418927,39119.857008,63.7070,263.3506,4.43
158,2800000000,인천광역시,2022-09-01,35.409012,484.203238,1917.444822,35848.541747,20.2678,57.2391,4.43

- KB아파트주택담보대출 PIR

In [20]:
df = api.get_apartment_mortgage_loan_pir()
df.tail()

           지역코드    지역명         날짜   KB아파트PIR     주택가격    가구소득
172  4100000000    경기도 2022-06-01  10.818947  47000.0  4344.0
173  2800000000  인천광역시 2022-06-01  10.844437  42000.0  3873.0
174  1100000000  서울특별시 2022-09-01  14.537210  82875.0  5701.0
175  4100000000    경기도 2022-09-01  10.301471  47000.0  4562.0
176  2800000000  인천광역시 2022-09-01   9.110603  37500.0  4116.0