In [1]:
import os
import sys
from pathlib import Path
sys.path.append(str(Path(os.getcwd()).parent))

In [2]:
from config import API_KEY_INFO
service_key = API_KEY_INFO.get("portal")

In [3]:
import pandas as pd
pd.set_option('display.max_columns', None)

## 실거래가 인스턴스 생성

In [4]:
from PublicDataReader import TransactionPrice
self = TransactionPrice(service_key)

In [5]:
# 기간 내 조회
df = self.get_data(
    property_type="아파트",
    trade_type="매매",
    sigungu_code="11650",
    start_year_month="202501",
    end_year_month="202502",
)

df.tail(1)

,법정동시군구코드,법정동읍면동코드,법정동지번코드,법정동본번코드,법정동부번코드,도로명,도로명시군구코드,도로명코드,도로명일련번호코드,도로명지상지하코드,도로명건물본번호코드,도로명건물부번호코드,법정동,단지명,지번,전용면적,계약년도,계약월,계약일,거래금액,층,건축년도,단지일련번호,해제여부,해제사유발생일,거래유형,중개사소재지,등기일자,아파트동명,매도자,매수자,토지임대부아파트여부
193,11650,10700,1,0020,0043,신반포로,11650,3121017,02,0,00270,00000,반포동,반포자이,20-43,84.943,2025,2,3,<NA>,22,2009,11650-3500,O,25.02.03,중개거래,서울 서초구,None,None,개인,개인,N

In [6]:
# 기간 내 조회
df = self.get_data(
    property_type="아파트",
    trade_type="전월세",
    sigungu_code="11650",
    start_year_month="202501",
    end_year_month="202502",
)

df.tail(1)

,법정동시군구코드,법정동,단지명,지번,전용면적,계약년도,계약월,계약일,보증금액,월세금액,층,건축년도,계약기간,계약구분,갱신요구권사용,종전계약보증금,종전계약월세
1460,11650,서초동,서초현대,1648-2,54.45,2025,2,3,<NA>,220,10,1999,25.03~27.03,신규,None,<NA>,<NA>

In [7]:
# 기간 내 조회
df = self.get_data(
    property_type="분양입주권",
    trade_type="매매",
    sigungu_code="11650",
    start_year_month="202201",
    end_year_month="202212",
)

df.tail(1)

,법정동시군구코드,시군구,법정동,지번,단지명,층,전용면적,구분,계약년도,계약월,계약일,거래금액,해제여부,해제사유발생일,거래유형,중개사소재지,매도자,매수자
7,11650,서초구,반포동,1-1,래미안 원베일리,13,84.98,입,2022,12,9,<NA>,None,None,중개거래,서울 서초구,None,None

In [8]:
# 기간 내 조회
df = self.get_data(
    property_type="오피스텔",
    trade_type="매매",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,시군구,법정동,지번,단지명,전용면적,계약년도,계약월,계약일,거래금액,층,건축년도,해제여부,해제사유발생일,거래유형,중개사소재지,매도자,매수자
30,11650,서초구,서초동,1337-21,현대썬앤빌 서초,18.09,2022,12,5,<NA>,2,2015,None,None,중개거래,"서울 강남구, 서울 서초구",None,None

In [9]:
# 기간 내 조회
df = self.get_data(
    property_type="오피스텔",
    trade_type="전월세",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,시군구,법정동,지번,단지명,전용면적,계약년도,계약월,계약일,보증금액,월세금액,층,건축년도,계약구분,계약기간,갱신요구권사용,종전계약보증금,종전계약월세
198,11650,서초구,서초동,1337-2,아크로텔 강남역,20.72,2022,12,19,<NA>,80,16,2016,갱신,22.12~23.12,None,<NA>,80

In [10]:
# 기간 내 조회
df = self.get_data(
    property_type="연립다세대",
    trade_type="매매",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,법정동,단지명,지번,건축년도,전용면적,대지권면적,계약년도,계약월,계약일,거래금액,층,해제여부,해제사유발생일,거래유형,중개사소재지,등기일자,매도자,매수자,주택유형
57,11650,방배동,반포스테이리버뷰,750-9,2019,17.02,5.3205,2022,12,3,<NA>,7,None,None,중개거래,서울 서초구,None,None,None,다세대

In [11]:
# 기간 내 조회
df = self.get_data(
    property_type="연립다세대",
    trade_type="전월세",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,법정동,단지명,지번,건축년도,전용면적,계약년도,계약월,계약일,보증금액,월세금액,층,계약기간,계약구분,갱신요구권사용,종전계약보증금,종전계약월세,주택유형
547,11650,서초동,서초남광쉐르빌,1490-23,2018,30.66,2022,12,5,<NA>,0,6,23.03~25.02,갱신,사용,<NA>,<NA>,다세대

In [12]:
# 기간 내 조회
df = self.get_data(
    property_type="단독다가구",
    trade_type="매매",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,법정동,주택유형,지번,연면적,대지면적,계약년도,계약월,계약일,거래금액,건축년도,해제여부,해제사유발생일,거래유형,중개사소재지,매도자,매수자
3,11650,서초동,다가구,1***,352.61,166.9,2022,12,19,<NA>,1995,None,None,중개거래,서울 강남구,None,None

In [13]:
# 기간 내 조회
df = self.get_data(
    property_type="단독다가구",
    trade_type="전월세",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,법정동,주택유형,연면적,계약년도,계약월,계약일,보증금액,월세금액,건축년도,계약기간,계약구분,갱신요구권사용,종전계약보증금,종전계약월세
347,11650,반포동,다가구,23.4,2022,12,3,<NA>,70,1991,22.12~24.12,신규,None,<NA>,<NA>

In [14]:
# 기간 내 조회
df = self.get_data(
    property_type="토지",
    trade_type="매매",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,시군구,법정동,지번,지목,용도지역,거래면적,거래유형,계약년도,계약월,계약일,거래금액,해제여부,해제사유발생일,중개사소재지,지분거래구분
16,11650,서초구,원지동,3**,전,개발제한구역,816.0,중개거래,2022,12,2,<NA>,None,None,서울 서초구,None

In [15]:
# 기간 내 조회
df = self.get_data(
    property_type="상업업무용",
    trade_type="매매",
    sigungu_code="11650",
    year_month="202212",
)

df.tail(1)

,법정동시군구코드,시군구,법정동,지번,건물유형,건물주용도,용도지역,층,계약년도,계약월,계약일,거래금액,건축년도,건물면적,대지면적,해제여부,해제사유발생일,거래유형,지분거래구분,중개사소재지,매도자,매수자
29,11650,서초구,서초동,1***,집합,숙박,일반상업,13,2022,12,1,<NA>,2004,31.61,NaN,None,None,직거래,None,None,None,None

In [16]:
# 기간 내 조회
df = self.get_data(
    property_type="공장창고등",
    trade_type="매매",
    sigungu_code="11650",
    year_month="202212",
)
df.tail(1)

,법정동시군구코드,시군구,법정동,지번,층,용도지역,대지면적,건물유형,건물면적,건물주용도,건축년도,거래유형,계약년도,계약월,계약일,거래금액,해제여부,해제사유발생일,중개사소재지,지분거래구분,매도자,매수자
3,11650,서초구,양재동,2**,<NA>,일반상업,NaN,집합,66.98,자동차 관련시설,2003,중개거래,2022,12,30,<NA>,None,None,서울 서초구,지분,None,None

In [ ]:
from config import API_KEY_INFO
service_key = API_KEY_INFO.get("ecos")