# KOSIS OPEN API

In [42]:
import PublicDataReader as pdr
from config import API_KEY_INFO
print(pdr.__version__)
_kosis = API_KEY_INFO.get("kosis")

1.0.1

## KOSIS 통합검색

In [44]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "KOSIS통합검색"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
searchNm = "행정구역(시군구)별/1세별 주민등록인구"

# 데이터 조회
df = kosis.get_data(searchNm=searchNm)
df.head()

,ORG_ID,ORG_NM,TBL_ID,TBL_NM,STAT_ID,STAT_NM,VW_CD,MT_ATITLE,FULL_PATH_ID,CONTENTS,STRT_PRD_DE,END_PRD_DE,ITEM03,REC_TBL_SE,TBL_VIEW_URL,LINK_URL,STAT_DB_CNT,QUERY
0,101,행정안전부,DT_1B04006,행정구역(시군구)별/1세별 주민등록인구,2008001,주민등록인구현황,MT_ZTITLE,인구 > 주민등록인구현황,A > A_7,행정구역(시군구)별 연령별 남자인구수 여자인구수 총인구수 안성시 포천시 강릉시 고성...,2008,2022,"* 등록구분의 ＂전체＂는 ＂거주자＂, ＂거주불명자＂, ＂재외국민＂이 포함된 자료입니...",N,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,1,행정구역(시군구)별/1세별 주민등록인구

## 통계설명

In [45]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
orgId = "101"
tblId = "DT_1B04006"
metaItm = "ALL"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, metaItm=metaItm)
df.head(1)

,writingTel,statsEnd,examinObjArea,statsPeriod,statsField,statsNm,publictMth,statsKind,examinHistory,josaItm,...,josaUnit,confmDt,writingPurps,mainTermExpl,applyGroup,examinObjrange,dataUserNote,writingSystem,examinTrgetPd,dataCollectMth
0,행정안전부민과 (☎ 044-205-3158),일반통계,전국,월,인구,주민등록인구현황,전산망(인터넷)미 발 간주민등록 인구통계 홈페이지(https://jumin.mois...,일반통계 / 보고통계,ㅇ 최초작성년도 : 2008년 ㅇ 주요연혁 - 2008년 1월 8일 통계작성 승인-...,"ㅇ전국 지방자치단체별 주민등록인구 현황 행정기관별, 연령별, 성별, 세대수, 세대원...",...,"ㅇ17개 시도, 시군구, 읍면동별 성별, 연령별 인구 및 세대 현황 주민등록기준 읍...",20080108,ㅇ“주민등록법”에 의한 주민등록인구 및 세대현황에 대하여 전국단위의 행정기관별(시도...,주민등록 세대 : 주거 및 생계를 같이하는 사람의 집단인구증감 : 전월인구 대비 금...,(주) 해당없음,"ㅇ 주민등록 인구 : 주민등록법에 의거 주민등록표에 기재된 인구로 거주자, 거주불명...","1. 자료내용 : 주민등록(거주자, 거주불명자, 재외국민)이 되어 있는 자의 인구,...","시·군·구 주민등록시스템(자치행정과, 정보통신담당관실) → 행정안전부 주민등록전산정...",매월 말일,행정집계

## 통계표 설명

### 통계표 명칭

In [46]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "통계표명칭"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head(1)

                  TBL_NM                                         TBL_NM_ENG
0  행정구역(시군구)별/1세별 주민등록인구  Resident Population in Five-Year Age Groups (2...

### 기관 명칭

In [47]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "기관명칭"
orgId = "101"

# 데이터 조회
df = kosis.get_data(orgId=orgId, detailServiceName=detailServiceName)
df.head(1)

  ORG_NM        ORG_NM_ENG
0    통계청  Statistics Korea

### 수록정보

In [48]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "통계표명칭"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head(1)

                  TBL_NM                                         TBL_NM_ENG
0  행정구역(시군구)별/1세별 주민등록인구  Resident Population in Five-Year Age Groups (2...

### 분류/항목

In [49]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "분류항목"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head(1)

,ITM_NM,TBL_ID,ITM_NM_ENG,ITM_ID,OBJ_NM,OBJ_NM_ENG,ORG_ID,OBJ_ID,OBJ_ID_SN,UP_ITM_ID
0,총인구수,DT_1B04006,Population,T2,항목,Item code list,101,ITEM,NaN,NaN

### 주석

In [50]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "주석"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head(1)

,CMMT_DC,CMMT_NM,ITM_NM,ITM_ID,OBJ_NM,OBJ_ID
0,"* 등록구분의 ""전체""는 ""거주자"", ""거주불명자"", ""재외국민""이 포함된 자료입니다.",통계표,NaN,NaN,NaN,NaN

### 단위

In [52]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "단위"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df

Dataframe Failed!

### 출처

In [53]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "출처"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head(1)

      JOSA_NM DEPT_NM    DEPT_PHONE
0  「주민등록인구현황」     주민과  044-205-3158

### 가중치

In [54]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "가중치"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df

Dataframe Failed!

### 자료갱신일

In [55]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "자료갱신일"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df

    ORG_NM                 TBL_NM PRD_SE  PRD_DE     SEND_DE
0      통계청  행정구역(시군구)별/1세별 주민등록인구      월  200801  2022-10-05
1      통계청  행정구역(시군구)별/1세별 주민등록인구      월  200802  2022-10-05
2      통계청  행정구역(시군구)별/1세별 주민등록인구      월  200803  2022-10-05
3      통계청  행정구역(시군구)별/1세별 주민등록인구      월  200804  2022-10-05
4      통계청  행정구역(시군구)별/1세별 주민등록인구      월  200805  2022-10-05
..     ...                    ...    ...     ...         ...
186    통계청  행정구역(시군구)별/1세별 주민등록인구      년    2017  2022-04-04
187    통계청  행정구역(시군구)별/1세별 주민등록인구      년    2018  2022-04-04
188    통계청  행정구역(시군구)별/1세별 주민등록인구      년    2019  2022-04-04
189    통계청  행정구역(시군구)별/1세별 주민등록인구      년    2020  2022-04-04
190    통계청  행정구역(시군구)별/1세별 주민등록인구      년    2021  2022-04-04

[191 rows x 5 columns]

## 통계목록

In [70]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계목록"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
vwCd = "MT_OTITLE"
parentListId = "101"

# 데이터 조회
df = kosis.get_data(vwCd=vwCd, parentListId=parentListId)
df

            LIST_NM      VW_CD     VW_NM      LIST_ID
0          가계금융복지조사  MT_OTITLE  국내통계 기관별       101_HD
1            가계동향조사  MT_OTITLE  국내통계 기관별  MT_CTITLE_I
2          가계생산위성계정  MT_OTITLE  국내통계 기관별      101_101
3            가축동향조사  MT_OTITLE  국내통계 기관별    101_11423
4          건설경기동향조사  MT_OTITLE  국내통계 기관별  MT_CTITLE_2
..              ...        ...       ...          ...
63  지역소득 (2015년 기준)  MT_OTITLE  국내통계 기관별  MT_CTITLE_c
64       초중고 사교육비조사  MT_OTITLE  국내통계 기관별  MT_CTITLE_6
65        통계인력및예산조사  MT_OTITLE  국내통계 기관별          T_A
66           퇴직연금통계  MT_OTITLE  국내통계 기관별       101_RP
67          프랜차이즈조사  MT_OTITLE  국내통계 기관별      101_005

[68 rows x 4 columns]

## 통계자료

In [73]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계자료"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
orgId = "101"
tblId = "DT_1B04006"
objL1 = "ITEM"
itmId = "T2"
prdSe = "M"
startPrdDe = "201801"
endPrdDe = "202208"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, objL1=objL1, itmId=itmId, prdSe=prdSe, startPrdDe=startPrdDe, endPrdDe=endPrdDe)
df

Dataframe Failed!