# KOSIS OPEN API

In [1]:
import PublicDataReader as pdr
from config import API_KEY_INFO
print(pdr.__version__)
_kosis = API_KEY_INFO.get("kosis")

1.0.2

## KOSIS 통합검색

In [2]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "KOSIS통합검색"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
searchNm = "행정구역(시군구)별, 성별 인구수"

# 데이터 조회
df = kosis.get_data(searchNm=searchNm)
df.head(1)

,ORG_ID,ORG_NM,TBL_ID,TBL_NM,STAT_ID,STAT_NM,VW_CD,MT_ATITLE,FULL_PATH_ID,CONTENTS,STRT_PRD_DE,END_PRD_DE,ITEM03,REC_TBL_SE,TBL_VIEW_URL,LINK_URL,STAT_DB_CNT,QUERY
0,101,행정안전부,DT_1B040A3,"행정구역(시군구)별, 성별 인구수",2008001,주민등록인구현황,MT_ZTITLE,인구 > 주민등록인구현황,A > A_7,행정구역(시군구)별 여자인구수 총인구수 남자인구수 전라남도 담양군 여천군 함평군 경...,1992,2022,"- 연말기준, 주민등록에 의한 집계, 외국인 제외 - 주민등록법 개정(＇09.10....",Y,https://kosis.kr/statisticsList/statisticsList...,http://kosis.kr/statHtml/statHtml.do?orgId=101...,176,"행정구역(시군구)별, 성별 인구수"

## 통계설명

In [3]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
orgId = "101"
tblId = "DT_1B040A3"
metaItm = "ALL"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, metaItm=metaItm)
df.head(1)

,writingTel,statsEnd,examinObjArea,statsPeriod,statsField,statsNm,publictMth,statsKind,examinHistory,josaItm,...,josaUnit,confmDt,writingPurps,mainTermExpl,applyGroup,examinObjrange,dataUserNote,writingSystem,examinTrgetPd,dataCollectMth
0,행정안전부민과 (☎ 044-205-3158),일반통계,전국,월,인구,주민등록인구현황,전산망(인터넷)미 발 간주민등록 인구통계 홈페이지(https://jumin.mois...,일반통계 / 보고통계,ㅇ 최초작성년도 : 2008년 ㅇ 주요연혁 - 2008년 1월 8일 통계작성 승인-...,"ㅇ전국 지방자치단체별 주민등록인구 현황 행정기관별, 연령별, 성별, 세대수, 세대원...",...,"ㅇ17개 시도, 시군구, 읍면동별 성별, 연령별 인구 및 세대 현황 주민등록기준 읍...",20080108,ㅇ“주민등록법”에 의한 주민등록인구 및 세대현황에 대하여 전국단위의 행정기관별(시도...,주민등록 세대 : 주거 및 생계를 같이하는 사람의 집단인구증감 : 전월인구 대비 금...,(주) 해당없음,"ㅇ 주민등록 인구 : 주민등록법에 의거 주민등록표에 기재된 인구로 거주자, 거주불명...","1. 자료내용 : 주민등록(거주자, 거주불명자, 재외국민)이 되어 있는 자의 인구,...","시·군·구 주민등록시스템(자치행정과, 정보통신담당관실) → 행정안전부 주민등록전산정...",매월 말일,행정집계

## 통계표 설명

### 통계표 명칭

In [4]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "통계표명칭"
orgId = "101"
tblId = "DT_1B040A3"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head()

               TBL_NM                                         TBL_NM_ENG
0  행정구역(시군구)별, 성별 인구수  Resident Population by City, County, and District

### 기관 명칭

In [5]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "기관명칭"
orgId = "101"

# 데이터 조회
df = kosis.get_data(orgId=orgId, detailServiceName=detailServiceName)
df.head()

  ORG_NM        ORG_NM_ENG
0    통계청  Statistics Korea

### 수록정보

In [6]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "통계표명칭"
orgId = "101"
tblId = "DT_1B040A3"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head()

               TBL_NM                                         TBL_NM_ENG
0  행정구역(시군구)별, 성별 인구수  Resident Population by City, County, and District

### 분류/항목

In [7]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "분류항목"
orgId = "101"
tblId = "DT_1B040A3"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df

,ITM_NM,TBL_ID,ITM_NM_ENG,ITM_ID,OBJ_NM,OBJ_NM_ENG,ORG_ID,OBJ_ID,OBJ_ID_SN,UP_ITM_ID
0,총인구수,DT_1B040A3,Koreans (Total),T20,항목,Item code list,101,ITEM,NaN,NaN
1,남자인구수,DT_1B040A3,Koreans (Male),T21,항목,Item code list,101,ITEM,NaN,NaN
2,여자인구수,DT_1B040A3,Koreans (Female),T22,항목,Item code list,101,ITEM,NaN,NaN
3,전국,DT_1B040A3,Whole country,00,행정구역(시군구)별,By Administrative District,101,A,1,NaN
4,서울특별시,DT_1B040A3,Seoul,11,행정구역(시군구)별,By Administrative District,101,A,1,NaN
...,...,...,...,...,...,...,...,...,...,...
376,제주특별자치도,DT_1B040A3,Jeju-do,50,행정구역(시군구)별,By Administrative District,101,A,1,NaN
377,제주시,DT_1B040A3,Jeju-si,50110,행정구역(시군구)별,By Administrative District,101,A,1,50
378,서귀포시,DT_1B040A3,Seogwipo-si,50130,행정구역(시군구)별,By Administrative District,101,A,1,50
379,북제주군,DT_1B040A3,Bukjeju-gun,50910,행정구역(시군구)별,By Administrative District,101,A,1,50
380,남제주군,DT_1B040A3,Namjeju-gun,50920,행정구역(시군구)별,By Administrative District,101,A,1,50

### 주석

In [8]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "주석"
orgId = "101"
tblId = "DT_1B04006"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head()

,CMMT_DC,CMMT_NM,ITM_NM,ITM_ID,OBJ_NM,OBJ_ID
0,"* 등록구분의 ""전체""는 ""거주자"", ""거주불명자"", ""재외국민""이 포함된 자료입니다.",통계표,NaN,NaN,NaN,NaN
1,\n - 거주자: 거주지가 분명한 사람(재외국민 제외),통계표,NaN,NaN,NaN,NaN
2,\n - 거주불명자: 거주사실이 불분명하여 거주불명으로 등록된 사람(2010년 1...,통계표,NaN,NaN,NaN,NaN
3,\n - 재외국민: 외국의 영주권을 취득한(영주목적으로 외국거주 포함) 대한민국 ...,통계표,NaN,NaN,NaN,NaN
4,\n* 주민등록 연령별 인구통계는 주민등록 신고에 따른 것으로 실제 연령과는 차이가...,통계표,NaN,NaN,NaN,NaN

### 단위

In [9]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "단위"
orgId = "101"
tblId = "DT_1B040A3"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df

데이터가 존재하지 않습니다.

### 출처

In [10]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "출처"
orgId = "101"
tblId = "DT_1B040A3"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head(1)

      JOSA_NM DEPT_NM    DEPT_PHONE
0  「주민등록인구현황」     주민과  044-205-3158

### 가중치

In [11]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "가중치"
orgId = "101"
tblId = "DT_1B040A3"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df

데이터가 존재하지 않습니다.

### 자료갱신일

In [12]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계표설명"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
detailServiceName = "자료갱신일"
orgId = "101"
tblId = "DT_1B040A3"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, detailServiceName=detailServiceName)
df.head()

  ORG_NM              TBL_NM PRD_SE  PRD_DE     SEND_DE
0    통계청  행정구역(시군구)별, 성별 인구수      월  201101  2022-10-05
1    통계청  행정구역(시군구)별, 성별 인구수      월  201102  2022-10-05
2    통계청  행정구역(시군구)별, 성별 인구수      월  201103  2022-10-05
3    통계청  행정구역(시군구)별, 성별 인구수      월  201104  2022-10-05
4    통계청  행정구역(시군구)별, 성별 인구수      월  201105  2022-10-05

## 통계목록

In [13]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계목록"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
vwCd = "MT_OTITLE"
parentListId = "110_20103"

# 데이터 조회
df = kosis.get_data(vwCd=vwCd, parentListId=parentListId)
df

,TBL_NM,TBL_ID,VW_CD,VW_NM,ORG_ID,REC_TBL_SE
0,행정구역(시군구)별 주민등록세대수,DT_1B040B3,MT_OTITLE,국내통계 기관별,101,Y
1,"행정구역(시군구)별, 성별 인구수",DT_1B040A3,MT_OTITLE,국내통계 기관별,101,Y
2,행정구역(시군구)별/1세별 주민등록인구,DT_1B04006,MT_OTITLE,국내통계 기관별,101,N
3,행정구역(읍면동)별/5세별 주민등록인구(2011년~),DT_1B04005N,MT_OTITLE,국내통계 기관별,101,N
4,행정구역(읍면동)별/5세별 주민등록인구,DT_1B04005,MT_OTITLE,국내통계 기관별,101,N
5,시군구/성/연령(1세)별 주민등록연앙인구,DT_1B040M1,MT_OTITLE,국내통계 기관별,101,N
6,시군구/성/연령(5세)별 주민등록연앙인구,DT_1B040M5,MT_OTITLE,국내통계 기관별,101,N

## 통계자료

In [14]:
# KOSIS OPEN API 인스턴스 생성
serviceName = "통계자료"
kosis = pdr.Kosis(_kosis, serviceName)

# 파라미터
orgId = "101"
tblId = "DT_1B040A3"
itmId = "T20 T21 T22"
objL1 = "41"
prdSe = "M"
startPrdDe = "202208"
endPrdDe = "202209"

# 데이터 조회
df = kosis.get_data(orgId=orgId, tblId=tblId, objL1=objL1, itmId=itmId, prdSe=prdSe, startPrdDe=startPrdDe, endPrdDe=endPrdDe)
df

,TBL_NM,PRD_DE,TBL_ID,ITM_NM,ITM_NM_ENG,ITM_ID,UNIT_NM,ORG_ID,UNIT_NM_ENG,C1_OBJ_NM,C1_OBJ_NM_ENG,DT,PRD_SE,C1,C1_NM,C1_NM_ENG
0,행정구역(시군구)별 성별 인구수,202208,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,13590056,M,41,경기도,Gyeonggi-do
1,행정구역(시군구)별 성별 인구수,202209,DT_1B040A3,총인구수,Koreans (Total),T20,명,101,Person,행정구역(시군구)별,By Administrative District,13574353,M,41,경기도,Gyeonggi-do
2,행정구역(시군구)별 성별 인구수,202208,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,6840757,M,41,경기도,Gyeonggi-do
3,행정구역(시군구)별 성별 인구수,202209,DT_1B040A3,남자인구수,Koreans (Male),T21,명,101,Person,행정구역(시군구)별,By Administrative District,6832856,M,41,경기도,Gyeonggi-do
4,행정구역(시군구)별 성별 인구수,202208,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,6749299,M,41,경기도,Gyeonggi-do
5,행정구역(시군구)별 성별 인구수,202209,DT_1B040A3,여자인구수,Koreans (Female),T22,명,101,Person,행정구역(시군구)별,By Administrative District,6741497,M,41,경기도,Gyeonggi-do